<div class="container">
    <div class="header">
            <h1 class="homeTitle">Plant Monitor</h1>
            <img class="logo" src="images/iot_logo.gif" alt="iot_logo" height=100 width=75>
    </div>
    <div class="chart-wrap">
        <canvas id="lineChart" class="soilTemp"></canvas>
        <br>
        <canvas id="lineChart-Moisture" class="soilMoisture"></canvas>
        <button class="btnRefresh" ng-click="vm.btnRefresh(vm.refresh)" name="refreshButton">Refresh</button>
    </div>
</div>

